@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
        --cor1: #F2C2CF;
        --cor2: #F2ACC6;
        --cor3: #F291BF;
        --cor4: #F279BC;
        --cor5: #F266C1;

        --fontGrandstander: 'Grandstander', cursive;
        --fontMerienda: 'Merienda', cursive;
        --fontCaveat: 'Caveat', cursive;
    }
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

main {
    background-color: white;
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.294);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header {
    background-image: linear-gradient(to top,#F2ACC6, #F291BF, #F279BC);
    padding: 40px;
    margin: auto;
    text-align: center;
    color: white;
}

header > h1 {
    font-size: 45px;
    font-family: var(--fontGrandstander);
}

header > p {
    font-size: 25px;
    text-align: center;
    font-family: var(--fontCaveat);
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.304);
}

nav > a {
    text-decoration: none;
    font-family: var(--fontGrandstander);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 5px;
}

nav > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: underline;
    transition-duration: 0.5s;
}

article > h1 {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    color: var(--cor2);
    font-family: var(--fontMerienda);
}
 article h2 {
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 35px;
    padding-left: 10px;
    font-family: var(--fontMerienda);
 }

article > p > a {
    color: var(--cor2);
    text-decoration: none;
}

article > p > a:hover  {
    text-decoration: underline;
    color: var(--cor4);
}


p {
    padding: 10px;
    text-align: justify;
    font-size: 25px;
    font-family: var(--fontCaveat);
    font-weight: bold;
}

strong {
    color: var(--cor2);
}
footer {
    background-color: #F291BF;
    margin: 20px 0px 0px 0px;
}
footer > p {
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: var(--fontMerienda);
}

footer > p > a {
    text-decoration: none;
    color: var(--cor2);
}

footer > p > a:hover {
    text-decoration: underline;
    color: var(--cor4);
}